<!-- this first div will be changed to a drop down menu -->
<div class="container">
  <header ng-include="'/views/templates/menuAndTitle.html'"></header>

  <div>
    <div class="users">
      <h2 id="household">Add a Pet</h2>
      <hr>
      <!-- Add a household input or track it -->
      <label for="name">Name:</label>
      <input type="text" ng-model="pc.name" value="">
      <br>
      <label for="breed">Breed:</label>
      <input type="text" ng-model="pc.breed" value="">
      <br>
      <label for="color">Color:</label>
      <input type="text" ng-model="pc.color" value="">
      <br>
      <label for="age">Age:</label>
      <input type="number" ng-model="pc.age" value="">
      <select name="age-length" ng-model="pc.agelength">
        <option value="year(s)">year(s)</option>
        <option value="month(s)">month(s)</option>
        <option value="day(s)">day(s)</option>
      </select>
      <br>
      <label for="care">Care Information:</label>
      <br>
      <textarea name="name" rows="8" cols="80" ng-model="pc.care"></textarea>
      <br>
      <label for="owner">Owner:</label>
      <select name="Owners" ng-model="pc.owner">
        <option ng-repeat="owner in pc.userList" value="{{owner.username}}">{{owner.username}}</option>
      </select>
      <br>
      <label for="Select">Select Care Tasks:</label>
      <br>
      <input type="checkbox" ng-model="pc.checkbox.feed"> Feed
      <input type="checkbox" ng-model="pc.checkbox.water"> Water
      <input type="checkbox" ng-model="pc.checkbox.walk"> Walk
      <input type="checkbox" ng-model="pc.checkbox.bathe"> Bathe
      <input type="checkbox" ng-model="pc.checkbox.treats"> Treats
      <input type="checkbox" ng-model="pc.checkbox.litter"> Clean Litter
      <br><br>
      <!-- <label for="PetImg">Select an image of your pet:</label>
      <input type="file" ng-model="pc.petImg" name="file"> -->
      <label for="PetImg">Upload an Image of Your Pet: </label>
      <input type="button" class="btn btn-default" value="Upload" ng-click="pc.showPicker()" />
      {{pc.uploadMessage}}
      <br><br>
      <button class="btn btn-default" ng-click="pc.addNewPet()">Add</button>
      </div>
    </div>

  <div ng-controller="UserController as uc">
    <button class="btn btn-default logout" ng-click="uc.logout()">Log Out</button>
  </div>

</div>
