<div class="inside">
  <h1>Household Pets</h1>
  <div ng-repeat="pet in pc.petList">
    <div class="pet col-xs-3 col-sm-3">
      <h3>{{pet.name}}</h3>
      <b>Breed:</b> {{pet.breed}}
      <br>
      <b>Color:</b> {{pet.color}}
      <br>
      <b>Age:</b> {{pet.age}} {{pet.agelength}} old
      <br>
      <b>Owner:</b> {{pet.owner}}
      <br>
      <b>Care Information:</b><br>
      {{pet.care}}
      <br>
      <button class="btn btn-default" ng-click="pc.removePet(pet._id)">Remove</button>
    </div>
  </div>
</div>
