<div class="container">
  <div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/userHome">Home</a>
    <a href="/addPet">Add a Pet</a>
    <a href="/care">Pet Care</a>
    <a href="/household">Household</a>
  </div>
</div>
  <div class="users">
    <h1 id="household">Care</h1>
    <hr>
    <div ng-repeat="pet in pc.careList">
      <h4>{{pet.name}}</h4>
      <div ng-repeat="care in pet.care">
        <input type="checkbox" ng-click="pc.addAction(pet.name, care)"> {{care}}
      </div>
      <br>
      <b>Care Info:</b><br>
      {{pet.info}}
      <hr>
    </div>
    <label for="Observations">Observations:</label>
    <br>
    <textarea ng-model="pc.observations" rows="8" cols="80"></textarea>
    <br>
    <button class="btn btn-default" ng-click="pc.sendText()">Send Care Text</button>


  </div>
  <div class="users">
    <div id="household" ng-controller="EmailController as ec">
      <h3>Send All of Your Pet Care Information to a Pet Sitter</h3>
      <label for="PetSitterEmail">Pet Sitter Email:</label><br>
      <input type="text" ng-model="ec.petSitterEmail" value=""><br>
      <label for="AdditionalComments">Additional Comments (optional):</label><br>
      <textarea name="name" ng-model="ec.additionalComments" rows="8" cols="80"></textarea>
      <button class="btn btn-default" ng-click="ec.sendEmail()">Email Pet Sitter</button>
    </div>
  </div>
  <div ng-controller="UserController as uc">
    <button class="btn btn-default logout" ng-click="uc.logout()">Log Out</button>
  </div>
</div>
