<div class="container">
  <h1 id="header">Our Hobby Farm</h1>
  <br><br><br><br><br>
  <div class="users login">
    <h2 id="household">Register User</h2>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.registerUser()">
      <div>
        <label for="household">Household:</label>
        <input type="text" ng-model="lc.user.household" />
      </div>
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
        <label for="phonenumber">Phone Number:</label>
        <input type="text" ng-model="lc.user.phone" />
      </div>
      <input class="btn btn-default" type="submit" name="submit" value="Register" />
      <a id="register" href="/home">Cancel</a>
    </form>

  </div>
</div>
